/*//////////////////Main CSS ///////////////////*/

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  margin: auto;
  width: 86vw;
  max-width: 1249px;
  height: 100vh;
}

/*///////////////// Top bar /////////////////*/
.top-bar {
  width: 100%;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 49px;
  transition: 500ms;
}

.search-bar {
  margin-left: auto;
  height: 55px;
  width: 86vw;
  max-width: 297px;
  transition: 500ms;
}

form {
  position: relative;
  border: 1px solid rgba(121, 121, 121, 0.267);
  border-radius: 1rem;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}
.location {
  height: 100%;
  width: 46%;
  border: 2px solid black;
  color: rgba(121, 121, 121, 0.473);
  border: none;
}

.guest-count {
  height: 100%;
  width: 35%;
  text-transform: capitalize;
  border: none;
  border-left: 1px solid rgba(121, 121, 121, 0.185);
  border-right: 1px solid rgba(121, 121, 121, 0.185);
  color: rgba(121, 121, 121, 0.473);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  color: rgba(121, 121, 121, 0.473);
  font-size: 1rem;
}
.submit-btn {
  height: 100%;
  width: 9%;
  background: transparent;
  color: #e85757;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.remove-selection {
  height: 100%;
  background: transparent;
  color: #e85757;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location:hover,
.location:focus,
.guest-count:hover,
.guest-count:focus {
  border: none;
  outline: none;
  color: black;
}

.results-info {
  margin-top: 61px;
  display: flex;
  align-items: center;
}
.stays-in-the-country-subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.stays-count {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  margin-left: auto;
}
/*/ //////////////// cards /////////////////*/
.cards {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  height: auto;
}

.no-results-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
  width: 28.9vw;
  transition: 500ms;
  max-width: 395px;
  max-height: 344px;
  min-width: 275px;
  min-height: 263px;
  height: 25.143vw;
}
.stay-pic {
  width: 100%;
  height: 19.59vw;
  max-height: 269px;
  min-height: 184px;
  overflow: hidden;
  border-radius: 24px;
  margin-bottom: 20px;
}

.stay-pic img {
  height: 100%;
  width: 100%;
}

.stay-info {
  display: flex;
  align-items: center;
  height: 28px;
  margin-bottom: 12px;
}

.super-host-border {
  width: 100px;
  height: 28px;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-left: 0;
  justify-content: center;
}

.super-host-text {
  font-size: 12px;
  font-weight: 700;
  color: #4f4f4f;
}

.stay-type {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
}

.rating {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.star {
  color: #e85757;
}

.title {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
}

/* //////////////Extended Search Bar related Styles///////////////// */

.extended-top-bar {
  height: 367px;
}
.extended-search-drawer {
  height: 250px;
  display: hidden;
  margin-top: 42px;
}
.search-bar-focused {
  max-width: 1249px;
  width: 86vw;
  height: auto;
  transition: 1000ms;
}

.search-bar-focused form {
  display: flex;
  width: 100%;
  height: 55px;
}

.display-extended-drawer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 300ms;
  max-width: 1249px;
  width: 86vw;
}

.location-btns-container {
  margin-top: 42px;
  height: 180px;
  width: 28.9vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 36px;
}

.location-btns-container button {
  display: flex;
  margin-left: 1.5rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
  width: 1vw;
  background: transparent;
}

.location-btns-container button:focus,
.location-btns-container button:hover {
  transform: translateY(-0.2rem);
  transition: 500ms;
}
.guest-count-selector-container {
  margin-left: 1.5rem;
  width: 28.9vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.adult-count-container {
  display: flex;
  flex-direction: colummn;
  height: 71px;
  margin-bottom: 62.33px;
}

.children-count-container {
  margin-top: 52px;
}

.adult-count-info,
.children-count-info {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  display: flex;
  flex-direction: column;
  height: 36px;
}

.adult-count-info p,
.children-count-info p {
  font-weight: 400;
  margin-top: 0.15em;
  color: rgba(121, 121, 121, 0.637);
}

.adult-count-btn-and-count-container,
.child-count-btn-and-count-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 86px;
  margin-top: 12px;
}

.count-adjust-btn {
  width: 23px !important;
  height: 23px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #828282;
  background-color: transparent;
  border-radius: 4px;
}

.count-adjust-btn:hover,
.count-adjust-btn:focus {
  background-color: #ff6a6a9a;
  border: 1px solid orange;
  color: black;
  transition: 300ms;
}
.count-adjust-btn svg {
  width: 12px;
  height: 12px;
  fill: #828282;
  pointer-events: none;
}

.search-bar-focused input,
.search-bar-focused button {
  width: 100%;
  height: 55px;
  transition: 500ms;
}

.close-search-btn {
  position: absolute;
  top: 30%;
  left: 101%;
  height: auto;
  width: auto;
  background: transparent;
  color: #e85757;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}
@media (max-width: 1455px) {
  .card {
    width: 27vw;
  }
}
@media (max-width: 1280px) {
  .cards {
    gap: 1.5rem;
  }
}
@media (max-width: 1016px) {
  .cards {
    gap: 2rem;
  }
  .card {
    width: 41vw;
    height: auto;
  }
  .stay-pic {
    height: 27.7vw;
  }
}

@media (max-width: 800px) {
  .cards {
    gap: 1.5rem;
  }
  .card {
    width: 40vw;
  }
}
@media (max-width: 668px) {
  .cards {
    gap: 2rem;
  }

  .card {
    width: 395px;
    height: 344px;
    margin-left: auto;
    margin-right: auto;
  }
  .stay-pic {
    height: auto;
  }
}

@media (max-width: 500px) {
  .top-bar {
    flex-direction: column;
  }
  .logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
  }
  form {
    font-size: 0.85rem;
  }

  .card {
    height: auto;
  }
  ::placeholder {
    color: rgba(121, 121, 121, 0.473);
    font-size: 0.8rem;
  }
  .stay-pic {
    height: 59vw;
  }
}
